html   
    head 
        title= "Title" 
    body 
        div.container
            input(type="text" placeholder="name" id="name")
            input(type="text" placeholder="lastName" id="lastName")
            input(type="date" placeholder="bornDate" id="bornDate")
            input(type="checkbox", id="sex") 
            | Sex
            input(type="text" placeholder="tech" id="tech")
            button(id='btn-add') Add
    script(src="functions.js") 